spec: flatmachine
spec_version: "1.0.0"
data:
  name: worker_node
  context:
    tasks: "{{ input.tasks }}"
  machines:
    worker_task: ./worker_task.yml
  persistence:
    enabled: true
    backend: memory
  states:
    process_tasks:
      type: initial
      foreach: "{{ context.tasks }}"
      as: task
      machine: worker_task
      input:
        task: "{{ task.task }}"
        data: "{{ task.data }}"
      output_to_context:
        results: "{{ output }}"
      transitions:
        - to: final
    final:
      type: final
      output:
        processed_tasks: "{{ context.results }}"
