spec: flatmachine
spec_version: "0.7.2"
data:
  name: worker_node
  context: {}
  persistence:
    enabled: true
    backend: memory
  states:
    process_tasks:
      type: initial
      foreach: "{{ input.tasks | dump }}"
      as: task
      agent: worker.yml
      input:
        task: "{{ task.task }}"
        data: "{{ task.data }}"
      output_to_context:
        results: "{{ output | dump }}"
      transitions:
        - to: final
    final:
      type: final
      output:
        processed_tasks: "{{ context.results }}"
